# These environment variables must be set in CircleCI UI
#
# GCLOUD_SERVICE_KEY - key for pushing images to gcr
# GOOGLE_PROJECT_ID - moz-fx-data-airflow-prod-88e0
# GOOGLE_COMPUTE_ZONE - us-west1-b

orbs:
  gcp-gcr: circleci/gcp-gcr@0.8.0

version: 2.1


jobs:

  build:
    docker:
      - image: docker:18.02.0-ce
    working_directory: ~/mozilla/fission_monitoring_nightly
    steps:
      - checkout
      - setup_remote_docker
      - run: docker build .

  deploy:
    docker:
      - image: google/cloud-sdk
    working_directory: ~/mozilla/fission_monitoring_nightly
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build container
          command: |
            docker build .
      - run:
          name: Configure gcloud
          command: |
            echo $GCLOUD_SERVICE_KEY | gcloud auth activate-service-account --key-file=-
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            gcloud auth configure-docker
      - run:
          name: Deploy to GCR
          command: |
            DOCKER_IMAGE="gcr.io/${GOOGLE_PROJECT_ID}/fission-monitoring"
            docker tag "${DOCKER_IMAGE}:latest"
            docker push "${DOCKER_IMAGE}:latest"


workflows:
  version: 2
  deploy-docker-container:
    jobs:
      - build
      - deploy:
          filters:
            branches:
              only: circle_docker_fix
